<form [formGroup]="superHerosForm">
    <div class="container">
        <div class="row">
            <mat-form-field class="col-12 col-sm-12 col-md-5" appearance="fill">
                <mat-label>Filtrar por nombre</mat-label>
                <input matInput type="text" [(ngModel)]="inputValue" (keyup)="applyFilter($event)"
                    formControlName="filter">
                <mat-error *ngIf="superHerosForm.get('filter')?.errors">Número máximo de caracteres
                    {{numMaxCharactersFilter}}
                </mat-error>
                <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button class="col-12 col-sm-12 col-md-2 mt-2" mat-raised-button color="primary"
                (click)="openCreateDialog('')">Añadir</button>
            <button class="col-12 col-sm-12 col-md-2 mt-2" mat-raised-button color="accent"
                (click)="openEditDialog(superHerosList.selectedOptions.selected[0].value)"
                [disabled]="!this.superHeroSelected || !selectedElement">Editar</button>
            <button class="col-12 col-sm-12 col-md-2 mt-2" mat-raised-button color="warn"
                (click)="openDeleteDialog(superHerosList.selectedOptions.selected[0].value)"
                [disabled]="!this.superHeroSelected || !selectedElement">Borrar</button>
        </div>
        <div class="row">
            <mat-selection-list class="col-12 col-sm-12" #superHerosList [multiple]="false">
                <mat-list-option *ngFor="let superHero of showSuperHeros" [value]="superHero"
                    (click)="onClickSuperHero(superHerosList.selectedOptions.selected[0].value)">
                    {{superHero.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="row">
            <mat-paginator class="col-12 col-sm-12" [length]="lengthResults" [pageSize]="pageSize" [pageIndex]="pageIndex"
                [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="getSuperHeros($event)">
            </mat-paginator>
        </div>
    </div>
</form>